
<h1>Hi, <%= current_user.first_name if current_user %></h1>


<h2>Blog posts</h2>
<% @posts.each do |post|%>
<li><div><%= post.title %></div> <div><%= post.body %></div></li>
<% end %>


<h2>Skills</h2>
<% @skills.each do |skill|%>
<li><div><%= skill.title %></div> <div><%= skill.percent_utilized %></div></li>
<% end %>