<h1>Portfolio Set Show</h1>

<div>
	<%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
</div>

<h2><%= @portfolio_item.title %></h2>
<h3><%= @portfolio_item.subtitle %></h3>

<p><%= @portfolio_item.body%></p>

<%= link_to 'Edit', edit_portfolio_set_path(@portfolio_item) %>

<%= link_to 'Back', portfolio_sets_path %>